.mobile_Container{
display:  flex;
justify-content: center;
align-items: center;
position: relative;
}

.mobile_Container .mobile_frame{
width: 100vw;
height: auto;
margin-top: 9rem;
}

.inside_mobile_container{
    position: absolute;
    right: 42.4%;
    background: linear-gradient(65.5deg,  rgb(0, 6, 33) -5.1%, rgb(1, 8, 141)101.5%);   
     width: 12.5rem;
    height: 27.8rem;
    border-radius: 2rem; 
    margin-bottom: 0;
    padding-bottom: 0;
}

.mobile_navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem 0 0.5rem;
    margin: 0;
}

.mobile_navbar p{
    font-size: 0.7rem;
    font-weight: 600
}

.mobile_navbar .image_container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding-right: 0.2rem;
    padding-bottom: 0;
    margin-bottom: 0;
}

.mobile_navbar img{
    width: 0.8rem;
    height: auto;
}


@media (max-width: 450px) {
    .mobile_Container .mobile_frame{
        content: url('../../../public/SmallMobile.svg');
        width: 17rem;
        height: auto;
        margin-top: 4rem;
        }  

        .inside_mobile_container{
            position: absolute;
            height: 88.5%;
            width: 16rem;
            top: 55%;
            left: 50%;
            transform: translate(-50%,-50%);
            background: linear-gradient(65.5deg,  rgb(0, 6, 33) -5.1%, rgb(1, 8, 141)101.5%); 
            border-radius: 2rem; 
            margin-bottom: 0;
            padding-bottom: 0;
        }
}
