.nav_Container{
    display: flex;
    width: 100%;
    height: 5rem;
    justify-content: space-between;
    background-color:  rgba(27, 27, 28, 0.945);
    align-items: center;
    padding:1rem 4rem 1rem 4rem;
    box-sizing: border-box;
    position:fixed;
    z-index: 99;
}

.logo_container{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.logo_container .nav_logo{
    width: 3rem;
    height: 3rem;
}

.nav_Container .nav_List{
    font-family: sans-serif;
    font-weight: 700;
    font-size: 0.7rem;
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

@media only screen and (max-width: 600px) {
    .nav_Container .nav_List {
      display: none;
    }
  }


